<div class="success d-flex align-items-center justify-content-center text-centre">
    <div class="alert alert-danger text-centre" role="alert">
        The hero is already in another squad
        <div>
            <a href="/squads">View All Squads</a>
        </div>
        <div>
            <a href="/squads/$squad.getId()/heroes/new"> Go Back </a>
        </div>
    </div>
</div>