<div class="d-flex justify-content-center align-items-center my-form-1">
    <div class="card text-center my-form">

        #if($squad.getHeroes().size() < $squad.getMax_size())
        <h3>Add a Hero to $squad.getName()</h3>
        <form class="form-inputs" action="/heroes" method="post">
            <div class="form-group">
                <input type="hidden" class="form-control form-control-sm" id="squadId" name="squadId" value="$squad.getId()">
            </div>

            <div class="form-group">
                <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="Hero Name">
            </div>

            <div class="form-group">
                <input type="text" id="special_power" name ="special_power" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Special Power">
            </div>

            <div class="form-group">
                <input  type="text"  id="age" name ="age" class="form-control form-control-sm" placeholder="Age">
            </div>

            <div class="form-group">
                <input  type="text"  id="weakness" name ="weakness" class="form-control form-control-sm" placeholder="Weakness">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        #else

        <h1>Your Squad Is Full</h1>

        <form class="form-inputs" action="/heroes" method="post">
            <fieldset disabled="disabled">
                <div class="form-group">
                    <input type="hidden" class="form-control form-control-sm" id="squadId" name="squadId" value="$squad.getId()">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="Hero Name">
                </div>

                <div class="form-group">
                    <input type="text" id="special_power" name ="special_power" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Special Power">
                </div>

                <div class="form-group">
                    <input  type="text"  id="age" name ="age" class="form-control form-control-sm" placeholder="Age">
                </div>

                <div class="form-group">
                    <input  type="text"  id="weakness" name ="weakness" class="form-control form-control-sm" placeholder="Weakness">
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </fieldset>
        </form>

        #end
    </div>
</div>