<div class="success d-flex align-items-center justify-content-center text-centre">
    <div class="alert alert-success text-centre" role="alert">
        Your hero has been saved to the $squad.getName() squad.
        <div>
            <a href="/squads">View All Squads</a>
        </div>
        <div>
            <a href="/squads/$squad.getId()"> $squad.getName() </a>
        </div>
    </div>
</div>