<!doctype html>
<html lang="en">
<head>
    <title>{{#block "title"}}Hiro-Squad{{/block}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div class="main-header  header-sticky  d-none d-lg-block">
    <div class=" container ">
        <div class="site-main-nav">
            <nav class="site-nav center-menu">
                <ul>
                    <li><a href="/">Home</a></li>

                    <li><a href="/squad">Feedback</a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>

<hr>

<!--begin main template-->

<div class="main-content">
    {{#block "content"}}
    {{/block}}

</div>

<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}