{{#partial "content"}}

    <h1>Success!</h1>

    Your submission has been saved.
    <hr>
    <a href="/squadview"><button class="btn btn-success btn-md">View all Squads</button></a>
    <a href="/heroview"><button class="btn btn-success btn-md">View all Heroes</button></a>

{{/partial}}
{{> layout.hbs}}